/target/*
/*/target/*
/.idea/*
/.txlcn/*
*.iws
*.iml
*.ipr

/.apt_generated
/.classpath
/.factorypath
/.project
/.settings
/.springBeans
/.sts4-cache

/*/.apt_generated
/*/.classpath
/*/.factorypath
/*/.project
/*/.settings
/*/.springBeans
/*/.sts4-cache

/nbproject/private/*
/nbbuild/*
/dist/*
/nbdist/*
/.nb-gradle/*
build/*

/*/nbproject/private/*
/*/nbbuild/*
/*/dist/*
/*/nbdist/*
/*/.nb-gradle/*
/*/build/*

/.vscode/*

